* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  transition: all 0.2s ease-in-out;
  user-select: none;
}

a,
a:visited {
  font-size: 20px;
  margin-bottom: 2rem;
  filter: brightness(1.5);
  text-decoration: none;
  border-bottom: solid blueviolet 2px;
}

body {
  background-color: rgb(3, 34, 58);
  color: rgb(217, 217, 217);
  text-align: center;
}

.quote {
  transition: all 1s ease-in-out !important;
}

.container {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10rem;
  /* margin-top: 1rem; */
  max-width: 1200px;
  margin: 5rem auto;
  padding-top: 9rem;
  padding-bottom: 1rem;
}

.heading {
  margin-bottom: 20px;
  font-size: 2rem;
  background: linear-gradient(
    to right,
    rgb(0, 145, 255) 40%,
    rgb(255, 0, 217) 60%
  );
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.errors,
.accuracy,
.cpm,
.wpm {
  /* background-color: rgba(0, 0, 0, 0.8); */
  height: 80px;
  width: fit-content;
  margin-bottom: 1rem;
  margin-left: 1rem;
  padding: 20px;
  border-radius: 8px;
  border: solid 0.5px rgb(255, 0, 217);
  filter: drop-shadow(0 0 1px white);
}

.cpm,
.wpm {
  display: none;
}

.header_text {
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 600;
}

.curr_errors,
.curr_accuracy,
.curr_cpm,
.curr_wpm {
  font-size: 2.75rem;
}

.contain-it {
  width: 80%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid rgb(255, 0, 217) 0.01px;
  box-shadow: 0 0 10px rgb(255, 0, 217);
  border-radius: 10px;
}

.timer {
  position: absolute;
  top: 1rem;
  left: 10%;
}

.curr_time {
  font-size: 25px;
  background: linear-gradient(to right, rgb(255, 0, 217), rgb(0, 145, 255));
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}

.quote {
  font-size: 1.5rem;
  pointer-events: none;
  max-width: 1000px;
  margin: 2rem 2rem;
  line-height: 1.5;
  letter-spacing: 2px;
  filter: drop-shadow(0 0 10px darkgray);
  padding: 1rem;
  user-select: none;
}

.characters {
  color: white;
}

.input_area:focus {
  outline: 0;
  outline: none;
  overflow: hidden;
  max-width: inherit;
  cursor: pointer;
  margin: 1rem 2rem;
  padding: 1rem 2rem;
}

.input_area {
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 15px;
  padding: 20px;
  color: transparent;
  position: absolute;
  top: -16px;
  left: -15px;
  resize: none;
  border: none;
}

.incorrect_char {
  color: rgb(187, 38, 38);
}

.correct_char {
  color: darkgray;
}

@media (max-width: 500px) {
  .quote {
    font-size: 20px;
  }
}
